$light:whitesmoke;
$dark:#333;
$marine:#023;
$primary-color: #123;
$accent-color: #456;
$glass: rgba(0, 0, 0, 0.1);
$basic-bg: $marine;
$text: $light;
// jewels
$diamond: #b9f2ff;
$ruby: #e0115f;
$golden:#ffbf00;
$lapis: #26619C;
$jade:#00A86B;
$emerald:#50C878;
$sapphire: #0F52BA;
$olivine:#9AB973;
$amethyst:#9966CC;
$anthracite: #373f43;
// types
$success: $emerald;
$warning:$golden;
$danger: $ruby;
$info:$sapphire;
$link:$diamond;
// categories
// $darkbtns:success warning danger info;
// @each $darkbtn in $darkbtns {
.success-txt {
    color: $success;
}

.success-bg {
    background: $success;
}

.success-btn {
    background: $success;
    color: $light;
}

.info-txt {
    color: $info;
}

.info-bg {
    background: $info;
}

.info-btn {
    background: $info;
    color: $light;
}

.danger-txt {
    color: $danger;
}

.danger-bg {
    background: $danger;
}

.danger-btn {
    background: $danger;
    color: $light;
}

.warning-txt {
    color: $warning;
}

.warning-bg {
    background: $warning;
}

.warning-btn {
    background: $warning;
    color: $dark;
}

// }
// $lightbtns: info;
// @each $lightbtn in $lightbtns {
.link-txt {
    color: $link;
}

.link-bg {
    background: $link;
}

.link-btn {
    background: $link;
    color: $dark;
}

// }